@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:ital@0;1&display=swap');
.navBar{
  font-family: 'Hammersmith One', sans-serif;
  color: #B29E84;
}
.navBar li{
 padding-right: 120px;
 font-size: 1.35rem;

}
.greeting{
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: #B29E84;
}
.content{
  font-family: 'Playfair Display', serif;
  color: #F6F4F1;
}
.name{
  font-family: 'Hammersmith One', sans-serif;
  color: #F6F4F1;
}
.but{
  font-family: 'Playfair Display', serif;
}
.icon:hover {
  fill: black;
}
.scrol{
  font-family: 'Hammersmith One', sans-serif;
}
.secHeader{
    font-family: 'Hammersmith One', sans-serif;
}