@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
.all{
  font-family: 'Belleza', sans-serif;
}
.nor{
  font-family: font-sans;
  font-weight: 100;
}
a:hover + #cur {
    background: #000;
}
